<header class="header h-12 p-2 shadow grid content-center">
  <div class="brand">
    <div class="logo"></div>
    <div class="name">
      <a href="/"><span class="text">Digi Bedrijf</span></a>
    </div>
  </div>
</header>
