---
import Login from '../components/link-button-login.component.astro'
import Register from '../components/link-button-register.component.astro'
---

<header class="header h-14 p-2 shadow flex content-center justify-between">
  <div class="brand text-3xl font-bold text-indigo-900 opacity-90 hover:opacity-100">
    <div class="logo"></div>
    <div class="name">
      <a href="/"><span class="text">Digi Bedrijf</span></a>
    </div>
  </div>
  <div class="actions hidden sm:flex">
    <div class="login">
      <Login />
    </div>
    <div class="register">
      <Register />
    </div>
  </div>
</header>
